@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --letter-Color:#78A1BB;
    --Background-Color: #EBF5EE;
    --Background-Color-Letter: #283044;
    --Background-Color-white: #fcfcfc;
}



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    background-color: var(--Background-Color-white);
}





/*------------------HEADER------------------*/




  

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 2.5rem;
}

a {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.8rem;
}
  
.hover {
    color: #0000;
    background: 
      linear-gradient(90deg,#78A1BB 50%,#000 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .4s;
  }


.hover:hover {
    --_p: 0%;
  }






/*------------------ITEM CONTAINER------------------*/

  




.item-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 100px;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
  }

.item {
    width: 200px;
    height: 400px;
    flex-direction: column;
    
    
}

img {
    object-fit: cover;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 200px;
}

.item-text {
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--Background-Color-Letter);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-price {
    font-weight: 500;
    opacity: 0.5;
}

.item-name {
    font-weight: 500;
}

.item-button {
    color: var(--Background-Color-Letter);
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    padding: 0.7em 1.7em;
    font-size: 1rem;
    border-radius: 0.5em;
    transition: all .3s;
    border: white;
    cursor: pointer;
}
  
.item-button:hover {
    background-color: var(--letter-Color);
}



/*------------------FLOATING CART------------------*/


.footer {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0px);
    position:fixed;
    bottom:0;
    left:0;
    display: flex;
    justify-content: space-evenly;
    width:100%;
    align-items: center;
    height: 75px;
}

.footer-cart-item {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.8);
}

.footer-cart-value {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.footer-a  {
    text-decoration: none;
    font-size: 1.2rem;
    color: #0000;
    background: 
      linear-gradient(90deg,#78A1BB 50%,#000 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .4s;
  }


.footer-a:hover {
    --_p: 0%;
  }